body {
  padding-top: 90px;
  /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

@media (max-width: 992px) {
  body {
    padding-top: 56px;
  }
}

nav.navbar img.logo-nav {
    width: 160px;
}

h2 > small {
    font-size: 60%;
}

#titan-tabs {
  margin-bottom: 1rem;
}

#file-upload-input {
  padding: 0.2rem 0.75rem;
}
.portfolio-item {
  margin-bottom: 30px;
}

.pagination {
  margin-bottom: 30px;
}

footer {
  margin: 50px 0;
}

article .img {
  width: 100%;
}