<div class="container">

    <div class="jumbotron">
        <?php if ($success): ?>
            <p class="text-success"><?=$success?></p>
        <?php else: ?>
            <p class="text-danger"><?=$error?></p>
        <?php endif ?>
    </div>

</div>