<div class="container">
    <?php if (isset($success)): ?>
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Success!</strong> <?=$success?>
        </div>
    <?php endif ?>

    <?php if (isset($error)): ?>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Success!</strong> <?=$error?>
        </div>
    <?php endif ?>

    <div class="jumbotron">
        Welcome <strong><?=$_SESSION['user']['username']?></strong>. You are logged in as: <em><?=$_SESSION['user']['role']?></em>
    </div>
    <h2>Selection</h2>
    <p>Every user based on its role has a different options in the tabs below</p>
    <ul id="titan-tabs" class="nav nav-pills nav-fill">
        <li class="nav-item"><a class="nav-link" data-toggle="pills" href="#user-tab1">Add Article</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="pills" href="#user-tab2">View / Edit Article</a></li>
    <?php if ($_SESSION['user']['role'] === 'admin'): ?>
        <li class="nav-item"><a class="nav-link" data-toggle="pills" href="#admin-tab1">Users</a></li>
        <!-- <li class="nav-item"><a class="nav-link" data-toggle="pills" href="#admin-tab2">Articles</a></li> -->
    <?php endif ?>
    </ul>

    <div class="tab-content">
        <div id="user-tab1" class="tab-pane fade" role="tabpanel">
            <h4>Add article</h4>
            <p>The link below will send you to a page where you can Add a new Article (News).</p>
            <p><a class="btn btn-success" href="<?=PROJECT?>article/add"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Add New Article</a></p>
        </div>
        <div id="user-tab2" class="tab-pane fade" role="tabpanel">
            <h4>View / Edit your articles</h4>
            <p>Clicking the link will show you a list with all of your published articles, there you can edit them.</p>
            <p><a href="<?=PROJECT?>article/browse/" class="btn btn-warning"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Browse your articles</a></p>
        </div>
    <?php if ($_SESSION['user']['role'] === 'admin'): ?>
        <div id="admin-tab1" class="tab-pane fade" role="tabpanel">
            <h4>Edit users</h4>
            <p>The link below will show you a list with all the registered users of the application.</p>
            <p><a href="<?=PROJECT?>user/browse/" class="btn btn-danger"><i class="fa fa-users" aria-hidden="true"></i> View users</a></p>
        </div>
        <!-- <div id="admin-tab2" class="tab-pane fade" role="tabpanel">
            <h4>View / Edit all articles</h4>
            <p>The link will display a table with all the articles of the application.</p>
            <p><a href="<?=PROJECT?>article/browse" class="btn btn-danger"><i class="fa fa-list" aria-hidden="true"></i> View Articles</a></p>
        </div> -->
    <?php endif ?>

    </div>
</div>

<script type="text/javascript">
$('#titan-tabs a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
});
</script>