<div class="container">
    <?php if (isset($success)): ?>
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong> <?=$success?> </strong>
        </div>
    <?php endif ?>
    <?php if (isset($error)): ?>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong> <?=$error?> </strong>
        </div>
    <?php endif ?>
    <form class="form-horizontal" role="form" method="POST" action="<?=PROJECT?>user/login">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Login <small>Username or Email</small></h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive text-right"><label for="user">User</label></div>
            <div class="col-md-6 <?=(isset($error['user']) && !empty($error['user'])) ? 'has-danger' : ''?>">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-user"></i>
                        </div>
                        <input type="text" name="user" class="form-control" id="user" placeholder="Username or email ..." autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <?php if (isset($error['user']) && !empty($error['user'])): ?>
                            <?php foreach ($error['user'] as $notice): ?>
                                <i class="fa fa-close"> <?=$notice?></i>
                            <?php endforeach ?>
                        <?php endif ?>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive text-right">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6 <?=(isset($error['password']) && !empty($error['password'])) ? 'has-danger' : ''?>">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <?php if (isset($error['password']) && !empty($error['password'])): ?>
                            <?php foreach ($error['password'] as $notice): ?>
                                <i class="fa fa-close"> <?=$notice?></i>
                            <?php endforeach ?>
                        <?php endif ?>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Login</button>
            </div>
        </div>
    </form>
</div>