<div class="container">
    <form class="form-horizontal" role="form" method="POST" action="">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h2>Register New User</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive text-right">
                <label for="username">Username</label>
            </div>
            <div class="col-md-6 <?=(isset($error['username']) && !empty($error['username'])) ? 'has-danger' : ''?> ">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
                        <input type="text" name="username" class="form-control" id="name" value="<?=isset($_POST['username']) ? $_POST['username'] : ''?>"
                               placeholder="Username..." autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <?php if (isset($error['username']) && !empty($error['username'])): ?>
                            <?php foreach ($error['username'] as $notice): ?>
                                <i class="fa fa-close"> <?=$notice?></i>
                            <?php endforeach ?>
                        <?php endif ?>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive text-right">
                <label for="email">E-Mail Address</label>
            </div>
            <div class="col-md-6 <?=(isset($error['email']) && !empty($error['email'])) ? 'has-danger' : ''?>">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                        <input type="text" name="email" class="form-control" id="email" value="<?=isset($_POST['email']) ? $_POST['email'] : ''?>"
                               placeholder="you@example.com" autofocus>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <?php if (isset($error['email']) && !empty($error['email'])): ?>
                            <?php foreach ($error['email'] as $notice): ?>
                                <i class="fa fa-close"> <?=$notice?></i>
                            <?php endforeach ?>
                        <?php endif ?>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive text-right">
                <label for="password">Password</label>
            </div>
            <div class="col-md-6 <?=(isset($error['password']) && !empty($error['password'])) ? 'has-danger' : ''?>">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                        <input type="password" name="password" class="form-control" id="password"
                               placeholder="Password" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <?php if (isset($error['password']) && !empty($error['password'])): ?>
                            <?php foreach ($error['password'] as $notice): ?>
                                <i class="fa fa-close"> <?=$notice?></i>
                            <?php endforeach ?>
                        <?php endif ?>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 field-label-responsive text-right">
                <label for="password">Confirm Password</label>
            </div>
            <div class="col-md-6 <?=(isset($error['password-confirmation']) && !empty($error['password-confirmation'])) ? 'has-danger' : ''?>">
                <div class="form-group">
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                        <div class="input-group-addon" style="width: 2.6rem">
                            <i class="fa fa-repeat"></i>
                        </div>
                        <input type="password" name="password-confirmation" class="form-control"
                               id="password-confirm" placeholder="Repeat your password" >
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-control-feedback">
                    <span class="text-danger align-middle">
                        <?php if (isset($error['password-confirmation']) && !empty($error['password-confirmation'])): ?>
                            <?php foreach ($error['password-confirmation'] as $notice): ?>
                                <i class="fa fa-close"> <?=$notice?></i>
                            <?php endforeach ?>
                        <?php endif ?>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
            </div>
        </div>
    </form>
</div>

