<div class="container">
    <h2>Error</h2>

    <?php if (isset($error)): ?>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" id="article-edit" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong> <?=$error?> </strong>
        </div>
    <?php endif ?>
</div>