<!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">Latest news</h1>

        <div class="row">
            <?php foreach ($articles as $article): ?>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="<?=PROJECT . 'article/view/' . $article['url']?>">
                    <?php if ($article['image'] == 'placeholder.jpg'): ?>
                        <img class="card-img-top img-fluid" src="<?=IMG . $article['image']?>" alt="">
                    <?php else: ?>
                        <img class="card-img-top img-fluid" src="<?=MEDIA . $article['image']?>" alt="">
                    <?php endif ?>
                    </a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="<?=PROJECT . 'article/view/' . $article['url']?>"><?=$article['title']?></a></h4>
                        <p class="card-text"><?=$article['text']?></p>
                        <div class="row">
                            <div class="col-md-4"><i class="fa fa-calendar" aria-hidden="true"></i> <small><?=$article['created_at']?></small></div>
                            <div class="col-md-4"><i class="fa fa-tag text-muted" aria-hidden="true"></i> <?=$article['user_data']['username']?></div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
            <?php endforeach ?>
        </div>
        <!-- /.row -->

        <!-- Pagination -->
        <!--ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#">2</a></li>
            <li class="page-item">
                <a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul-->

    </div>
    <!-- /.container -->
