<div class="container">
    <h3>Article</h3>
    <?php if (isset($error)): ?>
        <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong> <?=$error?> </strong>
        </div>
    <?php endif ?>
    <?php if (isset($success)): ?>
        <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong> <?=$success?> </strong>
        </div>
    <?php endif ?>
    <div class="row">
    <div class="col-md-9">
        <form action="" method="post" autocomplete="off" enctype="multipart/form-data">
            <div class="form-group <?=(isset($input['title']) && !empty($input['title'])) ? 'has-danger' : ''?>">
                <label for="title" class="cols-sm-2">Title</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-tag" aria-hidden="true"></i></div>
                        <input type="text" name="title" class="form-control" id="title" placeholder="Set article title"
                        <?php if(isset($_POST['title'])) {
                            echo 'value="' . $_POST['title'] . '"';
                        } elseif(isset($edit['title'])) {
                            echo 'value="'.$edit['title'].'"';
                        }
                        ?>
                        />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="file-upload" class="cols-sm-2">File upload</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div class="input-group-addon" id="file-upload-input"><i class="fa fa-picture-o" aria-hidden="true"></i></div>
                        <input type="file" name="file_upload" class="form-control-file">
                    </div>
                </div>
            </div>

            <div class="form-group <?=(isset($input['article_body']) && !empty($input['article_body'])) ? 'has-danger' : ''?>">
                <label for="body" class="cols-sm-2">Article Text</label>
                <div class="cols-sm-10">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-sticky-note" aria-hidden="true"></i></div>
                        <textarea class="form-control" rows="5" id="article-body" name="article_body" placeholder="Article text ..."></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-3">&nbsp;</div>
                <div class="col-md-6">
                <?php if (isset($edit['id'])): ?>
                    <button type="submit" class="btn btn-warning btn-block">Edit article</button>
                <?php else: ?>
                    <button type="submit" class="btn btn-primary btn-block">Add article</button>
                <?php endif ?>
                </div>
                <div class="col-md-3">&nbsp;</div>
            </div>
        </form>
    </div>
    </div>
</div>