<div class="container">

    <?php if (isset($message)): ?>
        <?php if (isset($message['success'])): ?>
            <div class="alert alert-success alert-dismissable">
                <a href="#" id="article-close" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong> <?=$message['success']?> </strong>
            </div>
        <?php endif ?>
        <?php if (isset($message['error'])): ?>
            <div class="alert alert-danger alert-dismissable">
                <a href="#" id="article-close" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong> <?=$message['error']?> </strong>
            </div>
        <?php endif ?>
    <?php endif ?>

    <h2 class="my-4">Manage articles</h2>

    <?php foreach ($articles as $article): ?>
    <div class="row">
        <div class="col-md-1"><?=$article['id']?></div>
        <div class="col-md-2">
         <?php if ($article['image'] == 'placeholder.jpg'): ?>
            <img class="card-img-top img-fluid" src="<?=IMG . $article['image']?>" alt="">
        <?php else: ?>
            <img class="card-img-top img-fluid" src="<?=MEDIA . $article['image']?>" alt="">
        <?php endif ?>
        </div>
        <div class="col-md-2"><?=$article['title']?></div>
        <div class="col-md-3"><?=substr(trim($article['text']) . ' ...', 0, 40)?></div>
        <div class="col-md-2">
            <i class="fa fa-calendar" aria-hidden="true"></i> Created
            <br><?=$article['created_at']?>
        </div>
        <div class="col-md-1">
            <a class="text-warning" href="<?=PROJECT . 'article/edit/' . $article['id']?>" title="Edit"><i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class="col-md-1">
            <a class="text-danger" href="<?=PROJECT . 'article/delete/' . $article['id']?>" title="Delete"><i class="fa fa-trash fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    <hr />
    <?php endforeach?>

</div>