<div class="container">
    <h1 class="my-4">All your articles</h1>

    <?php if (isset($message)): ?>
        <?php if (isset($message['success'])): ?>
            <div class="alert alert-success alert-dismissable">
                <a href="#" id="article-close" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong> <?=$message['success']?> </strong>
            </div>
        <?php endif ?>
        <?php if (isset($message['error'])): ?>
            <div class="alert alert-danger alert-dismissable">
                <a href="#" id="article-close" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong> <?=$message['error']?> </strong>
            </div>
        <?php endif ?>
        <?php if (isset($message['info'])): ?>
            <div class="alert alert-info alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong> <?=$message['info']?> </strong>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>You can create your first article from <a class="text-info" href="<?=PROJECT?>article/add">here</a>.</p>
                </div>
            </div>
        <?php endif ?>

    <?php endif ?>

    <div class="row">
        <?php foreach ($articles as $article): ?>
            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <a href="<?=PROJECT . 'article/view/' . $article['url']?>">
                     <?php if ($article['image'] == 'placeholder.jpg'): ?>
                        <img class="card-img-top img-fluid" src="<?=IMG . $article['image']?>" alt="">
                    <?php else: ?>
                        <img class="card-img-top img-fluid" src="<?=MEDIA . $article['image']?>" alt="">
                    <?php endif ?>
                    </a>
                    <div class="card-block">
                        <h4 class="card-title"><a href="<?=PROJECT . 'article/view/' . $article['url']?>"><?=$article['title']?></a></h4>
                        <p class="card-text"><?=$article['text']?></p>
                        <i class="fa fa-calendar" aria-hidden="true"></i> <?=$article['created_at']?>
                        <a href="<?=PROJECT .'article/delete/'. $article['id']?>" class="btn btn-md btn-danger pull-right"><i class="fa fa-pencil-square" aria-hidden="true"></i> DELETE</a>
                    </div>
                </div>
            </div>
        <?php endforeach ?>
    </div>
</div>