<div class="container">
    <article>
        <h2 class="title"><?=$article['title']?></h2>
        <div class="row text-center">
            <div class="col-md-3">
                <i class="fa fa-calendar" aria-hidden="true"></i> <small><?=$article['created_at']?></small>
            </div>
            <div class="col-md-3"><i class="fa fa-tag text-muted" aria-hidden="true"></i> <?=$article['user_data']['username']?></div>
            <?php if (isset($_SESSION['user']['id']) && ($_SESSION['user']['id'] === $article['user_id'])): ?>
                <div class="col-md-3">
                    <a href="<?=PROJECT .'article/browse/'?>" class="btn btn-sm btn-info"><i class="fa fa-pencil-square" aria-hidden="true"></i> Manage Articles</a>
                </div>
            <?php endif ?>
            <div class="col-md-3">
                <a href="<?=PROJECT?>article/convert/<?=$article['id']?>" class="btn btn-sm btn-primary"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> PDF</a>
            </div>
        </div>
        <hr />
        <img src="<?=MEDIA . $article['image']?>" class="img img-responsive" alt="">
        <p class="lead">
            &nbsp;
        </p>
        <p>
            <?=$article['text']?>
        </p>
    </article>
</div>